<?xml version="1.0"?>
<squeeze2upnp>
<common>
<streambuf_size>524288</streambuf_size>
<output_size>4194304</output_size>
<stream_length>-2</stream_length>
<enabled>0</enabled>
<codecs>aac,ogg,flc,alc,aif,pcm,mp3,dsf,dff</codecs>
<mode>thru</mode>
<raw_audio_format>raw,wav,aif</raw_audio_format>
<sample_rate>384000</sample_rate>
<L24_format>0</L24_format>
<flac_header>1</flac_header>
<roon_mode>1</roon_mode>
<forced_mimetypes></forced_mimetypes>
<seek_after_pause>0</seek_after_pause>
<send_icy>1</send_icy>
<nudge>0</nudge>
<volume_on_play>1</volume_on_play>
<volume_feedback>1</volume_feedback>
<send_metadata>1</send_metadata>
<send_coverart>0</send_coverart>
<max_volume>100</max_volume>
<accept_nexturi>0</accept_nexturi>
<auto_play>0</auto_play>
<server>?</server>
<resample_options></resample_options>
</common>
<upnp_socket>?</upnp_socket>
<slimproto_log>error</slimproto_log>
<slimmain_log>error</slimmain_log>
<stream_log>error</stream_log>
<output_log>error</output_log>
<decode_log>error</decode_log>
<main_log>error</main_log>
<upnp_log>error</upnp_log>
<util_log>error</util_log>
<log_limit>1</log_limit>

<device>
<udn>uuid:3CA50632-4E12-4865-B460-1D926BABBC75</udn>
<name>Botic7_10.30.30.6</name>
<friendly_name>APlayer Media Renderer</friendly_name>
<mac>38:d2:69:6b:e7:39</mac>
<enabled>1</enabled>
</device>

</squeeze2upnp>
